non-git/
dataset.pklfailed_backgammon/data/dataset.pkl
failed_backgammon/dataset.pkl
failed_backgammon/data/dataset.pkl

failed_backgammon/__pycache__/
failed_backgammon/src/__pycache__/
failed_backgammon/agents/__pycache__/
failed_backgammon/networks/__pycache__/

reduced_backgammon/__pycache__/
reduced_backgammon/src/__pycache__/
reduced_backgammon/agents/__pycache__/
reduced_backgammon/networks/__pycache__/

further_reduced_backgammon/__pycache__/
further_reduced_backgammon/src/__pycache__/
further_reduced_backgammon/agents/__pycache__/
further_reduced_backgammon/networks/__pycache__/